.team {
    margin: 0;
    padding-bottom: 20px;
    &__content-box {
        @extend %position-center;
        gap: 30px;
    }
}
.worker {
    @extend %position-center;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 30px;
    position: relative;
    &:hover::before {
        position: absolute;
        left: -10px;
        top: -10px;
        content: "";
        width: 380px;
        height: 470px;
        flex-shrink: 0;
        background: linear-gradient(180deg, rgba(239, 139, 138, 0.80) 0%, rgba(229, 207, 130, 0.80) 100%);
        transition: 0.4s;
    }
    &__image {
        width: 380px;
        height: 470px;
        flex-shrink: 0;
    }
    &__text-box {
        @extend %position-center;
        flex-direction: column;
        gap: 11px;
    }
    &__title {
        color: $low-black;
        text-align: center;
        font-family: $main-fonts;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-variant: all-small-caps;
    }
    &__paragraf {
        color: $grey;
        text-align: center;
        font-family: $text-fonts;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        line-height: normal;
    }
}